body.home-body {
  all: unset;  /* Unset all inherited styles */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: linear-gradient(150deg, #405DE6, transparent 30%),
    linear-gradient(330deg, #FFD600, transparent 30%),
    linear-gradient(225deg, #FF7A00, #FF0069, #D300C5, #7638FA);
  max-height: 100%;
}

.Home {
  display: flex;
  background: linear-gradient(150deg, #405DE6, transparent 30%),
    linear-gradient(330deg, #FFD600, transparent 30%),
    linear-gradient(225deg, #FF7A00, #FF0069, #D300C5, #7638FA);
}

.sidebar {
  width: 300px; /* Adjust based on your design */
  position: fixed;
}

.content {
  margin-left: 320px; /* Adjust based on your sidebar width */
  width: 100%;
  padding: 20px;
}

.home-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #fff;
}
