.Home {
  display: flex;
  background: linear-gradient(150deg, #405DE6, transparent 30%),
    linear-gradient(330deg, #FFD600, transparent 30%),
    linear-gradient(225deg, #FF7A00, #FF0069, #D300C5, #7638FA);
}

.sidebar {
  width: 300px; /* Adjust based on your design */
  position: fixed;
}

.content {
  margin-left: 320px; /* Adjust based on your sidebar width */
  width: 100%;
  padding: 20px;
}

.home-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #fff;
}
