/* ProfilePage.css */

.ProfilePage {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  min-height: 100vh;
  background: linear-gradient(150deg, #405DE6, transparent 30%),
    linear-gradient(330deg, #FFD600, transparent 30%),
    linear-gradient(225deg, #FF7A00, #FF0069, #D300C5, #7638FA);
}

.profile-container {
  display: flex;
  flex-direction: column;
  margin: 40px;
  margin-left: 350px;
  align-items: center;
  padding: 16px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 70%;
}

.profile-info {
  width: fit-content;
  margin-bottom: 32px;
}

.posts {
  width: 100%;
  max-width: 100%;
}

/* Additional styling for the ProfilePosts component if needed */
.posts > div {
  margin-bottom: 16px;
  padding: 16px;
}
