body{
    background: linear-gradient(150deg, #405DE6, transparent 30%),
    linear-gradient(330deg, #FCAF45, transparent 30%),
    linear-gradient(225deg, #E1306C, #E1306C, #C13584, #833AB4);
}

.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    position: absolute;
    left: 25%;
    top: 25%;
    transform: translate(25%, -25%);
    padding: 20px;
    width: 30pc;
    background: #FFFFFF;
    border-radius: 10px;
    height: 500px;
    justify-content: space-evenly;
}



.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    margin-top: 30px;
    position: relative; /* Add this line */
}

.logo {
    width: 80%; /* Adjust the width as needed */
    max-width: 300px; /* Add this line to limit the maximum width */
}


.text{
    color: #100C0D;
    font-size: 48px;
    font-weight: 700;
}

.underline{
    width: 20pc;
    height: 4px;
    background: #000000;
    border-radius: 9px;
    margin-top: 20px;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 30px;
}

.input{
    display: flex;
    margin: auto;
    width: auto;
    height: 40px;
    border-radius: 6px;
    background:  #CC8B65;
}

.input input{
    background: #d3d3d3;
    border: none;
    height: 25px;
    width: 400px;
    outline: none;
    align-items: center;
    font-size: 18px;
    color: #100C0D;
    padding: 10px;
    border-radius: 6px;
}

.submit-container{
    align-items: center;
    display: flex;
    padding: 10px;
    text-align: center;
    justify-content: center;
}

.submit {
    align-items: center;
    background: #100C0D;
    color: #E3DCD2;
    margin: auto;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    width: fit-content;
    border-radius: 4px;
    font-size: 18px;
}

.text-prompt{
    margin: 10px;
    font-size: 18px;
    text-align: center;
}
